{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- ... (previous navigation and content structure) ... -->

            <!-- About Me Page -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">About Me</h1>
                </div>

                <!-- About Me Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <p>Awesome tools is a side project I work on. Everytime I find myself wishing there was a quick and simple way to do somthing, I try to add that here</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p>You can find out more about me here 	ʕっ•ᴥ•ʔっ-> https://t-scholtz.github.io/  </p>
                        </div>
                        <div class="col-md-4">
                            <!-- Placeholder for Images -->
                            <img src="photos/me.jpeg" alt="Me - Timothy Scholtz" class="img-fluid mb-3">
                            <!-- Add more images as needed -->
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
