{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.min.css') }}">

    <head>
        <title>About Me</title>
        
    </head>
    <body>
        <div class="tm-container-fluid">
            <section class="tm-site-header tm-flex-center tm-mb-50 tm-bgcolor-1 tm-border-rounded">
                
                <h1>About Me  <i class="fa fa-hand-spock-o"></i></h1>
                <img src="{{ url_for('static', filename='photos/me_2.jpeg') }}" alt="Picture of me" style="width: 320px; height: 320px; object-fit: cover; border-radius: 50%;">

    
            </section>
    
            <section class="tm-about tm-mb-50 tm-p-50 tm-bgcolor-2 tm-border-rounded">
                <div class="tm-about-header tm-flex-center">
                    <!-- Set a specific width and height for the image -->
                    <img src="{{ url_for('static', filename='photos/me.jpeg') }}" alt="Picture of Timmy in park" style="width: 250px; height: 250px; object-fit: cover; border-radius: 50%;">
                    <h2>Timothy Scholtz</h2>
                    <h2>(Aka, me)</h2>
                </div>
                <div class="tm-about-text">
                    <p class="tm-mb-40">
                        I am a Computer Engineering student at the University at Buffalo. I created this website as a side project with the hope that it could prove useful in getting those small, simple pesky tasks that always seem to pop up, like file conversion or formatting text. I hope it proves useful.
                    </p>
                    <p class="tm-mb-0">
                        I love technology and solving problems. I'm always looking for cool and interesting projects to work on. You can find out more about me and my work at my personal website at <a rel="nofollow" href="https://tim-s.me" target="_blank">tim-s.me</a>.
                    </p>
                </div>
            </section>
    
            <section class="tm-contact tm-mb-50 tm-bgcolor-3 tm-border-rounded">
               
                <div class="tm-contact-header tm-flex-center">
                    <img src="{{ url_for('static', filename='photos/me_3.jpeg') }}" alt="Picture of Timmy... agiain" style="width: 180px; height: 400px; object-fit: cover; border-radius: 20px 20px 20px 20px;">

                </div>
                <div class="tm-contact-info">
                    <h2>Contact Info <i class="fa fa-address-card"></i> </h2>
                    <div class="tm-text-white tm-mb-0">Timothy J Scholtz</div>
                    <div class="tm-text-white tm-mb-0"><i class="fa  fa-university"></i> University: <a href="https://www.buffalo.edu/" class="tm-link-white"> University At Buffalo</a></div>
                    <div class="tm-text-white tm-mb-0"><i class="fa fa-envelope"></i> Email: <a href="email:tim.scholtz@outlook.com" class="tm-link-white"> tim.scholtz@outlook.com</a></div>
                    <div class="tm-text-white tm-mb-40"><i class="fa fa-phone"></i> Tel: <a href="tel:716-907-8798" class="tm-link-white">716-907-8798</a></div>
                    
                    <div class="tm-flex">
                       
                        <a href="https://www.linkedin.com/in/t-j-scholtz" class="tm-social-link"><i class="fa fa-linkedin-square"></i></a>
                        <a href="https://github.com/t-scholtz" class="tm-social-link"><i class="fa fa-github-alt"></i></a>
                        <a href="https://t-scholtz.github.io/" class="tm-social-link"><i class="fa fa-globe"></i></a>
                        <a href="https://www.instagram.com/tiny_treks/" class="tm-social-link"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCuToB0y-BPd_TXZwWGiJJOQ" class="tm-social-link"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
                <div class="tm-contact-form-container">
                    <form id="contact-form" action="{{ url_for('views.about') }}" method="POST" class="tm-contact-form">
                        <div class="tm-mb-30">
                            <textarea rows="5" name="message" class="tm-mb-30" placeholder="Leave a comment, message, or a suggestion" required=""></textarea>
                            <input type="email" name="suggestion-email" placeholder="Your email" required="" />
                        </div>
                        <button type="submit" class="tm-right tm-btn-submit">Send</button>
                    </form>
                </div>
            </section>
        </div>
        
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
        
    </body>
{% endblock %}