{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
    <head>
        <title>About Me</title>
        
    </head>
    <body>
        <div class="tm-container-fluid">
            <section class="tm-site-header tm-flex-center tm-mb-50 tm-bgcolor-1 tm-border-rounded">
                <i class="fa fa-hand-spock-o"></i>
                <h1>About Me</h1>
                <h1>⊂(⌒▽⌒)つ</h1>
            </section>
    
            <section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
                <div class="tm-about-header tm-flex-center">
                    <!-- Set a specific width and height for the image -->
                    <img src="{{ url_for('static', filename='photos/me.jpeg') }}" alt="Picture of Timmy in park" style="width: 250px; height: 250px; object-fit: cover; border-radius: 50%;">
                    <h2>Timothy Scholtz</h2>
                    <h2>(Aka, me)</h2>
                </div>
                <div class="tm-about-text">
                    <p class="tm-mb-40">
                        I am a Computer Engineering student at the University at Buffalo. I created this website as a side project with the hope that it could prove useful in getting those small, simple pesky tasks that always seem to pop up, like file conversion or formatting text. I hope it proves useful.
                    </p>
                    <p class="tm-mb-0">
                        I love technology and solving problems. I'm always looking for cool and interesting projects to work on. You can find out more about me and my work at my personal website <a rel="nofollow" href="https://t-scholtz.github.io/" target="_blank">here</a>.
                    </p>
                </div>
            </section>
            
    
           
    
            <section class="tm-contact tm-mb-50 tm-bgcolor-3 tm-border-rounded">
                <div class="tm-contact-header tm-flex-center">
                    <i class="fas fa-map-pin fa-3x"></i>
                    <h2>Contact</h2>
                </div>
                <div class="tm-contact-info">
                    <address class="tm-mb-30">
                        120 Curabitur sed tortor ultrices,
                        congue odio eget, posuere urna.
                        Praesent at rhoncus 10680
                    </address>
                    <div class="tm-text-white tm-mb-40">Tel: <a href="tel:0100200340" class="tm-link-white">010-020-0340</a></div>
                    <div class="tm-flex">
                        <a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a>
                        <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="tm-contact-form-container">
                    <form id="contact-form" action="" method="POST" class="tm-contact-form">
                          <input type="text" name="name" placeholder="name" required="" />
                          <input type="email" name="email" placeholder="email" required="" />
                          <textarea rows="5" name="message" class="tm-mb-30" placeholder="message" required=""></textarea>		          	
                          <button type="submit" class="tm-right tm-btn-submit">send</button>          	
                    </form>    
                </div>
            </section>
    
           
        </div>
        
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate-style.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.min.css') }}">
        
    </body>
{% endblock %}