{% extends "base.html" %}

{% block title %}Paste Bin{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pasteBin.css') }}">
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
  
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.11.0/css/bulma.min.css"/>

<!-- Simple List -->
<div id="simpleList" class="content">
  <div class="box">
    <p>This is <a href="http://rubaxa.github.io/Sortable/">Sortable</a></p>
  </div>
  <div class="box">
    <p>It works with Bulma...</p>
  </div>
  <div class="box">
    <p>...out of the box.</p>
  </div>
  <div class="box">
    <p>It has support for touch devices.</p>
  </div>
  <div class="box">
    <p>Just drag some elements around.</p>
  </div>
</div>

<!-- List with handle -->
<div id="listWithHandle" class="content">
  <div class="box">
    <span class="icon is-small"><i class="fas fa-arrows-alt"></i></span> Item 1
  </div>
  <div class="box">
    <span class="icon is-small"><i class="fas fa-arrows-alt"></i></span> Item 2
  </div>
  <div class="box">
    <span class="icon is-small"><i class="fas fa-arrows-alt"></i></span> Item 3
  </div>
  <div class="box">
    <span class="icon is-small"><i class="fas fa-arrows-alt"></i></span> Item 4
  </div>
  <div class="box">
    <span class="icon is-small"><i class="fas fa-arrows-alt"></i></span> Item 5
  </div>
</div>

<script>
  Sortable.create(simpleList, { /* options */ });

  // List with handle
  Sortable.create(listWithHandle, {
    handle: '.icon',
    animation: 150
  });
</script>

{% endblock %}


